/* #image {
  max-width: 100%;
  height: auto;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
} */

body {
  background-color: rgb(204, 195, 195);
}

img {
  display: block;
}

#main {
  margin-top:50px
}

#title {
  text-align: center;
}

#image {
  max-width: 100%;
}

#img-div {
  max-width: 720px;
  margin-left:auto;
  margin-right: auto;
}

#img-div img {
  width: 100%;
}

#img-caption {
  font-size: 12px;
  text-align: center;
}

#tribute-info {
  width: 1000px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}
